<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No User Found | MySQL DB | Final</title>
</head>
<body>
    <h1>No User Found</h1>
    <p>Sorry, no user was found with the specified username.</p>
    <a href="/user_data">Home</a>
</body>
</html>